---
layout: default
---

<!-- Section -->
<section>
	<header class="major">
		<h2>BoardBot is...</h2>
	</header>
	<div class="features">
		<article>
			<span class="icon fa-fire"></span>
			<div class="content">
				<h3>Low Cost</h3>
				<p>Built with a $250 budget, you can <a href="/diy">create your own</a>.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-paper-plane"></span>
			<div class="content">
				<h3>Open Source</h3>
				<p>The <a href="https://github.com/ScrumbledEggs/PoE">software</a> and <a href="https://cad.onshape.com/documents/8f08652983ca17f06e9ac67d/w/e174f06e8eb73e105045d519/e/88465677413e52a9af015cfc" >hardware</a> are available online, with permissive licenses.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-rocket"></span>
			<div class="content">
				<h3>Built by Olin Students</h3>
				<p>Handmade with ♥ by a team of students at <a href="https://olin.pro">Olin</a> College of Engineering.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-cloud"></span>
			<div class="content">
				<h3>Not IoT</h3>
				<p>We pride ourselves by not pushing a half-baked <a href="https://twitter.com/internetofshit">IoT</a> solution just because we can.</p>
			</div>
		</article>
	</div>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2 id="learn-more">Learn More</h2>
	</header>
	<div class="posts">
		<article>
			<a href="{{ site.baseurl }}{% link posts.md %}" class="image"><img src="{{ site.baseurl }}/assets/images/adamboard.jpg" alt="" /></a>
			<h3>Blog</h3>
			<p>Follow the bleeding-edge of BoardBot development</p>
			<ul class="actions">
				<li><a href="{{ site.baseurl }}{% link posts.md %}" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<a href="{{ site.baseurl }}{% link sprints.md %}" class="image"><img src="{{ site.baseurl }}/assets/images/boardplan.jpg" alt="" /></a>
			<h3>Sprints</h3>
			<p>See overviews of each BoardBot version</p>
			<ul class="actions">
				<li><a href="{{ site.baseurl }}{% link sprints.md %}" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<a href="{{ site.baseurl }}{% link tech.md %}" class="image"><img src="{{ site.baseurl }}/assets/images/mountcad.png" alt="" /></a>
			<h3>Systems</h3>
			<p>Get in-depth information of all of the BoardBot components</p>
			<ul class="actions">
				<li><a href="{{ site.baseurl }}{% link tech.md %}" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<a href="{{ site.baseurl }}{% link diy.md %}" class="image"><img src="{{ site.baseurl }}/assets/images/v1pile.jpg" alt="" /></a>
			<h3>DIY</h3>
			<p>View full instructions on how to build your own Boardbot</p>
			<ul class="actions">
				<li><a href="{{ site.baseurl }}{% link diy.md %}" class="button">More</a></li>
			</ul>
		</article>
		<!-- <article>
			<a href="#" class="image"><img src="assets/images/pic05.jpg" alt="" /></a>
			<h3>Feugiat lorem aenean</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article>
		<article>
			<a href="#" class="image"><img src="assets/images/pic06.jpg" alt="" /></a>
			<h3>Amet varius aliquam</h3>
			<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			<ul class="actions">
				<li><a href="#" class="button">More</a></li>
			</ul>
		</article> -->
	</div>
</section>

<!-- Section -->
<section>
	<header class="major">
		<h2 id="team">Meet the Team</h2>
	</header>
	<div class="team">
		{% for member in site.data.team %}
		<article>
			<img class="headshot" src="{{ site.baseurl }}/assets/images/{{ member.photo }}" alt=""/>
      <div class="content">
        <h3>{{ member.name }}</h3>
				<div class="links">
					{% if member.website %}
					<a href="{{ member.website }}" target="_blank">
						<span class="fa-globe icon"></span>
					</a>
					{% endif %}
					{% if member.github %}
					<a href="https://github.com/{{ member.github }}" target="_blank">
						<span class="fa-github icon"></span>
					</a>
					{% endif %}
					{% if member.linkedin %}
					<a href="https://linkedin.com/in/{{ member.linkedin }}" target="_blank">
						<span class="fa-linkedin icon"></span>
					</a>
					{% endif %}
					{% if member.email %}
					<a href="mailto:{{ member.email }}">
						<span class="fa-envelope-o icon"></span>
					</a>
					{% endif %}
				</div>
        <p>{{ member.description }}</p>
      </div>
    </article>
		{% endfor %}
	</div>
</section>
