<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>BoardBot</h1>
        <p>Principles of Engineering 2017</p>
      </header>
      <p>Whiteboard + Robot</p>
      <p>BoardBot is a dry-erase interaction system for the modern age. A low-cost, open source CNC plotter designed with extensibility in mind.</p>
      <!-- <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul> -->
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
