<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>BoardBot</h1>
        <p>Principles of Engineering 2017</p>
      </header>
      <p>Whiteboard + Robot</p>
      <p>Sunt whatever etsy godard, vice literally direct trade everyday carry lumbersexual pinterest selfies messenger bag craft beer leggings freegan. Dreamcatcher raw denim coloring book tofu readymade before they sold out tacos vexillologist pour-over authentic semiotics green juice tattooed banjo.</p>
      <!-- <ul class="actions">
        <li><a href="#" class="button big">Learn More</a></li>
      </ul> -->
    </div>
    <span class="image object">
      <img src="assets/images/pic10.jpg" alt="" />
    </span>
  </section>
