<!-- Sidebar -->
  <div id="sidebar">
    <div class="inner">

      <!-- Search -->
        <!-- <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section> -->

      <!-- Menu -->
        <nav id="menu">
          <header class="major">
            <h2>Menu</h2>
          </header>
          <ul>
            <li><a href="{{ site.baseurl }}/">Homepage</a></li>
            <li>
              <span class="opener">Our Journey</span>
              <ul>
                {% for sprint in site.sprints | sort %}
                <li><a href="{{ sprint.url | absolute_url }}">{{ sprint.title | escape }}</a></li>
                {% endfor %}
                <li><a href="{{ site.baseurl }}{% link posts.md %}">Blog</a></li>
              </ul>
            </li>
            <li>
              <span class="opener">Our Technology</span>
              <ul>
                <li><a href="{{ site.baseurl }}{% link tech.md %}">Overview</a></li>
                <li><a href="{{ site.baseurl }}{% link mechanical.md %}">Mechanical</a></li>
                <li><a href="{{ site.baseurl }}{% link electrical.md %}">Electrical</a></li>
                <li><a href="{{ site.baseurl }}{% link software.md %}">Software</a></li>
              </ul>
            </li>
            <li><a href="{{ site.baseurl }}{% link diy.md %}">Make Your Own BoardBot</a></li>
          </ul>
        </nav>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Recent Posts</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="{{ site.baseurl }}/assets/images/pic07.jpg" alt="" /></a>
              <p>Woke authentic disrupt viral dolor. Tote bag velit flexitarian hashtag gastropub biodiesel.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="{{ site.baseurl }}/assets/images/pic08.jpg" alt="" /></a>
              <p>Tumeric cloud bread crucifix laboris in consequat et aliquip, minim roof party.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="{{ site.baseurl }}{% link posts.md %}" class="button">More</a></li>
          </ul>
        </section>

      <!-- Section -->
        <section>
          <header class="major">
            <h2>Get in touch</h2>
          </header>
          <p>Photo booth mustache sartorial pickled pok pok. Air plant edison bulb selfies craft beer messenger bag schlitz ex dolore green juice pabst kickstarter jean shorts.</p>
          <ul class="contact">
            <li class="fa-envelope-o"><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            <li class="fa-home">{{ site.street_address }}<br />
            {{ site.city }}, {{ site.state }} {{ site.zip_code }}<br />
            {{ site.country }}</li>
          </ul>
        </section>

      <!-- Footer -->
        <footer id="footer">
          <p class="copyright">&copy; {{ site.title }} 2017. All rights reserved. Demo Images: <a href="https://unsplash.com">Unsplash</a>. Design: <a href="https://html5up.net">HTML5 UP</a>. Jekyll integration: <a href="https://andrewbanchi.ch">Andrew Banchich</a>.</p>
        </footer>

    </div>
  </div>
